/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

img {
  margin-bottom: 25px;
  box-shadow: 1px 1px 1px #f7fbff;
  border: 6px;
}
.plus {
  margin: auto;
}

.ui.button {
  margin: 5px;
}

.dropdown {
  margin: 20px;
}

.container {
  margin-top: 25px;
}

.ui.button.block {
  display: block;
  margin: auto;
}

.bottom-margin {
  margin-bottom: 35px;
}

.top-margin {
  margin-top: 25px;
}

.tiny {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
